<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /WebBot/

    # If request is not a file or folder, send to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
